<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Micropost:</strong>
  <%= @user.microposts.first.content %>
</p>

<p>
  <% @user.microposts.each do |micropost|%>
    <strong>Micropost:</strong>
    <%= micropost.content %>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
